

body {
  font-family: font-family-sans-serif;
  background-color: #fff;
}
p {
  color: rgb(204, 204, 204);
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: font-family-sans-serif;
}
a {
  transition: .3s all ease;
}
a :hover {
  text-decoration: none!important;
}
.content {
  padding: 7rem 0;
}
h2 {
  font-size: 20px;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.half .container > .row {
  height: 80vh;
}

.contents, .bg {
  width: 100%;
}


.half .form-group {
  overflow: hidden;
  margin-bottom: 0;
  border: 1px solid #efefef;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
}

.half label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s all ease;
}

.half input :focus + label {
  margin-top: -20px;
}

.half input {

}


.half .first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.half .last {
  border-bottom: 1px solid #efefef;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.half label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: rgb(204, 204, 204);
}


.half.field--not-empty  label {
  margin-top: -20px;
}



.half .form-control {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}

.half .form-control  :active :focus {
  outline: none;
  box-shadow: none;
}





.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(100, 195, 194);
  font-size: 15px;
  color :white;
  border-color: rgb(100, 195, 194);
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}



.half .control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.half .control .caption {
  position: relative;
  top: .2rem;
  color: #888;
}


.half .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.half .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.half .control--radio .control__indicator {
  border-radius: 50%;
}

.half.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}


.half .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.half .control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  transition: .3s all ease;
}

.half .control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.half .control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  transform: translate(-50%, -50%);
}

.half .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.half .control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}
