<div class="d-lg-flex half">

  <div class="contents order-2 order-md-1">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="log">
            <h1>reset password</h1>

          </div>
          <form action="#" method="post">
            <div class="form-group first">
              <label for="inputUsername"></label>
              <input type="password" name="password" id="password" [(ngModel)]="password"  class="form-control" placeholder="password" required autofocus>

            </div>


            <button class="btn btn-block btn-primary" (click)="onSubmit()" >reset password</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
