<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h1>
      Username : <strong>{{ currentUser }}</strong>
      <br>

    </h1>
    <h1>      Update user data
    </h1>
  </header>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>

<form class="profileform" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>firstName</label>
    <input class="form-control" type="text" formControlName="firstName" >
  </div>
  <div class="form-group">
    <label>lastName</label>
    <input class="form-control" type="text" formControlName="lastName" >
  </div>
  <div class="form-group">
    <label>address</label>
    <input class="form-control" type="text" formControlName="address" >
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" formControlName="email" >
  </div>
  <div class="form-group">
    <label>phone Number</label>
    <input class="form-control" type="text" formControlName="phoneNumber" >
  </div>

  <button type="submit" [disabled]="!profileForm.valid">update</button>

</form>

<hr>


